.pagination {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.pagination button {
  border: 1px solid #cecece;
  width: 40px;
  height: 40px;
  font-weight: bold;
  background-color: white;
}

.pagination div p {
  color: white;
  background-color: black;
  padding: 8px 16px;
}

.pagination > p {
  color: #6c6c6d;
}
