.detail-product {
  width: 100%;
  display: flex;
}

.desc-img {
  width: 8%;
  display: flex;
  flex-direction: column;
}

.desc-img img {
  width: 100%;
}

.detail-product > img {
  width: 40%;
  object-fit: cover;
  margin-right: 48px;
}

.product-desc {
  margin-top: 32px;
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.product-desc h2 {
  font-weight: bold;
  font-size: 28px;
}

.product-desc h3 {
  font-size: 20px;
  color: #a7a5a5;
}

.product-desc p {
  font-size: 14px;
  color: #6b6a6a;
}

.product-desc h4 {
  font-size: 16px;
  font-weight: bold;
}

.product-desc h4 span {
  font-weight: normal;
  color: #6b6a6a;
}

.add-to-cart {
  display: flex;
}

.add-to-cart button {
  border: none;
}

.add-to-cart > button {
  background-color: #333333;
  color: white;
  font-style: italic;
  font-size: 13px;
  padding: 8px 24px;
}

.quantity-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c5c5c5;
  width: 40%;
  padding: 0 18px;
}

.quantity-select h6 {
  margin: 0;
  color: #c5c5c5;
}
