.detail-product {
  width: 100%;
  display: flex;
  margin-bottom: 80px;
  margin-top: 24px;
}

.desc-img {
  width: 8%;
  display: flex;
  flex-direction: column;
}

.desc-img img {
  width: 100%;
}

.detail-product > img {
  width: 40%;
  object-fit: cover;
  margin-right: 48px;
}

.product-desc {
  margin-top: 32px;
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.product-desc h2 {
  font-weight: bold;
  font-size: 32px;
}

.product-desc h3 {
  font-size: 20px;
  color: #a7a5a5;
}

.product-desc p {
  font-size: 14px;
  color: #6b6a6a;
  line-height: 1.5rem;
}

.product-desc h4 {
  font-size: 16px;
  font-weight: bold;
}

.product-desc h4 span {
  font-weight: normal;
  color: #6b6a6a;
}
