.banner {
  position: relative;
  margin-bottom: 48px;
}

.banner img {
  width: 100%;
}

.banner-text {
  position: absolute;
  top: 25%;
  width: 30%;
  margin-left: 64px;
}

.banner-text p {
  text-transform: uppercase;
  font-weight: 400;
  color: gray;
}

.banner-text h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 32px;
}

.banner-text button {
  color: white;
  background-color: #494949;
  padding: 12px 24px;
  font-style: italic;
  border: none;
}
